In [1]:
from Fundamentals import MoneyControl

In [2]:
mc = MoneyControl()

# Searching a ticker aka 'sid' in Moneycontrol

In [3]:
res, raw = mc.get_ticker('Vinati org')
res, raw[0]

('VO01',
 {'link_src': 'https://www.moneycontrol.com/india/stockpricequote/chemicals/vinatiorganics/VO01',
  'link_track': 'http://arjun.in.com/dashboard/api/profilingSuggestions.php?id=VO01&type=stock',
  'pdt_dis_nm': 'Vinati Organics&nbsp;<span>INE410B01037, VINATIORGA, 524200</span>',
  'sc_id': 'VO01',
  'stock_name': 'Vinati Organics',
  'sc_sector_id': 'CH',
  'sc_sector': 'Chemicals'})

# Bharat (India) VIX

In [4]:
mc.get_india_vix(interval='1') # Interval can take '1' or '1d' only

                t      o      h      l      c  v
0      1690170300  11.48  11.99  10.53  11.96  0
1      1690170360  11.96  11.96  11.88  11.92  0
2      1690170420  11.92  11.92  11.87  11.87  0
3      1690170480  11.87  11.87  11.81  11.85  0
4      1690170540  11.86  11.89  11.83  11.83  0
...           ...    ...    ...    ...    ... ..
15412  1695203820  11.06  11.07  11.05  11.06  0
15413  1695203880  11.06  11.08  11.06  11.08  0
15414  1695203940  11.08  11.08  11.06  11.07  0
15415  1695204000  11.07  11.07  11.07  11.07  0
15416  1695206400  11.12  11.12  11.12  11.12  0

[15417 rows x 6 columns]

# Mini statements (These are extracted from annual and quarterly results)

In [5]:
# Params
# statement_type = 'consolidated' (default) or 'standalone'
# statement_frequency = 3 or 12 (default)

# you can only get last 5 timeperiod data

mc.get_overview_mini_statement('RI', statement_type='consolidated', statement_frequency=3)

     headings Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023
0     Revenue   219304   230055   217164   212945   207559
1  Net Profit    19508    15587    17740    21296    18182
2         EPS    26.54    20.18    23.34    28.52    23.66

In [6]:
mc.get_overview_mini_statement('HDF01', statement_type='standalone', statement_frequency=3)

     headings Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023
0     Revenue    35172    38586    42707    45119    48586
1  Net Profit     9195    10605    12259    12047    11951
2         EPS    16.60    19.07    21.99    21.60    21.40

In [7]:
# Params
# statement_type = 'consolidated' (default) or 'standalone'
# statement_frequency = 3 or 6 or 9 or 12 (default)

# you can only get last <5 timeperiod data

mc.get_income_mini_statement('VO01', statement_type='consolidated', statement_frequency=9)

         Nine Months  Dec 2022  Dec 2021
0              Sales      1581      1129
1       Other Income        55        45
2       Total Income      1636      1175
3  Total Expenditure      1177       867
4               EBIT       459       307
5           Interest         0         0
6                Tax       116        61
7         Net Profit       342       245

In [8]:
# Params
# statement_type = 'consolidated' (default) or 'standalone'

# you can only get last <5 timeperiod data

mc.get_balance_sheet_mini_statement('VO01', statement_type='standalone')

                  headers  Mar 2023  Mar 2022  Mar 2021  Mar 2020  Mar 2019
0           Share Capital        10        10        10        10        10
1      Reserves & Surplus      2208      1817      1533      1269      1041
2     Current Liabilities       219       167       106        89        88
3       Other Liabilities       108        94        83        74        87
4       Total Liabilities      2547      2089      1733      1442      1227
5            Fixed Assets      1103       920       811       781       665
6          Current Assets       989       775       654       642       531
7            Other Assets       454       393       267        18        30
8            Total Assets      2547      2089      1733      1442      1227
9  Contingent Liabilities        82       107       138        77       133

In [9]:
# Params
# statement_type = 'consolidated' (default) or 'standalone'

# you can only get last <5 timeperiod data

mc.get_cash_flow_mini_statement('IRF', statement_type='standalone')

             Unnamed: 0  Mar 2023  Mar 2022  Mar 2021  Mar 2020  Mar 2019
0  Operating Activities         0    -64412    -89906    -62717    -41748
1  Investing Activities         0        -4         0         1         1
2  Financing Activities         0     64266     90202     62713     41749
3                Others         0         0         0         0         0
4         Net Cash Flow         0      -150       295        -2         2

In [10]:
# Params
# statement_type = 'consolidated' (default) or 'standalone'

# you can only get last <5 timeperiod data

mc.get_ratios_mini_statement('IRC', statement_type='standalone')

,ratios,Mar 2023,Mar 2022,Mar 2021,Mar 2020,Mar 2019
0,Basic EPS (Rs.),12.57,8.30,11.87,33.04,19.12
1,Diluted Eps (Rs.),12.57,8.30,11.87,33.04,19.12
2,Book Value [Excl. Reval Reserve]/Share (Rs.),30.98,117.74,91.68,82.99,66.94
3,Dividend/Share (Rs.),5.50,17.50,5.00,12.50,7.65
4,Face Value,2.00,10.00,10.00,10.00,10.00
5,Gross Profit Margin (%),39.43,50.66,35.23,34.78,25.24
6,Operating Margin (%),37.91,48.12,29.32,33.02,23.71
7,Net Profit Margin (%),28.40,35.31,24.25,23.22,16.50
8,Return on Networth / Equity (%),40.58,35.22,12.94,39.80,28.81
9,ROCE (%),49.78,44.07,14.10,51.34,38.98
10,Return On Assets (%),19.76,17.29,5.99,16.26,11.89
11,Current Ratio (X),1.82,1.87,1.77,1.60,1.55
12,Quick Ratio (X),1.82,1.86,1.77,1.59,1.55
13,Debt to Equity (x),0.00,0.01,0.00,0.00,0.00
14,Interest Coverage Ratios (X),86.68,86.18,28.18,103.32,188.84
15,Asset Turnover Ratio (%),0.79,0.54,24.73,70.01,72.08
16,Inventory Turnover Ratio (X),8.63,5.55,119.73,233.07,237.05
17,3 Yr CAGR Sales (%),24.75,0.25,-26.94,22.22,16.97
18,3 Yr CAGR Net Profit (%),37.95,46.66,-6.99,56.91,27.90
19,P/E (x),45.57,93.34,29.60,5.95,0.00
20,P/B (x),18.50,6.58,19.15,11.84,0.00
21,EV/EBITDA (x),31.44,11.22,96.54,18.22,0.00
22,P/S (x),12.94,6.59,35.88,6.91,0.00

# Complete Statements Regarding financials of Equity

In [11]:
# Balance sheet
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_years = 5 any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('Deepak nitrate')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_balance_sheet(mc_profile_link, statement_type='standalone', num_years=10)

https://www.moneycontrol.com/india/stockpricequote/chemicals/deepaknitrite/DN

,Balance Sheet of Deepak Nitrite (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17,Mar 16,Mar 15,Mar 14
0,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths
1,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Equity Share Capital,27.28,27.28,27.28,27.28,27.28,27.28,26.14,23.26,20.91,10.45
4,Total Share Capital,27.28,27.28,27.28,27.28,27.28,27.28,26.14,23.26,20.91,10.45
...,...,...,...,...,...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,--,--,--,--,--,--,--,--,1.01,0.94
61,Non-Current Investments Unquoted Book Value,687.88,472.16,562.86,562.83,562.80,433.73,253.65,65.22,16.95,2.90
62,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Current Investments Quoted Market Value,--,--,--,--,--,--,--,--,--,--
64,Current Investments Unquoted Book Value,--,--,--,--,--,--,--,--,--,--

In [12]:
# P&L statements
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_years = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('sun pharma')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_profit_loss(mc_profile_link, statement_type='standalone', num_years=5)

https://www.moneycontrol.com/india/stockpricequote/pharmaceuticals/sunpharmaceuticalindustries/SPI

,Profit & Loss account of Sun Pharmaceutical Industries (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19
1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths
2,INCOME,NaN,NaN,NaN,NaN,NaN
3,Revenue From Operations [Gross],20394.63,15518.50,12570.93,11906.74,9783.29
4,Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00
5,Revenue From Operations [Net],20394.63,15518.50,12570.93,11906.74,9783.29
6,Total Operating Revenues,20812.14,15585.98,12803.21,12531.93,10303.21
7,Other Income,279.03,957.92,150.22,1510.92,1271.44
8,Total Revenue,21091.17,16543.90,12953.43,14042.85,11574.65
9,EXPENSES,NaN,NaN,NaN,NaN,NaN
10,Cost Of Materials Consumed,5165.63,4584.97,3809.11,3201.71,2727.71
11,Purchase Of Stock-In Trade,1126.46,1248.60,1199.63,1227.41,1196.85
12,Operating And Direct Expenses,313.75,275.23,0.00,0.00,0.00
13,"Changes In Inventories Of FG,WIP And Stock-In ...",-237.93,-183.18,-214.84,138.60,-251.30
14,Employee Benefit Expenses,2156.95,2000.78,1798.45,1702.77,1571.34
15,Finance Costs,472.18,388.10,256.98,408.01,540.92
16,Depreciation And Amortisation Expenses,1600.87,1349.95,586.81,561.56,552.95
17,Other Expenses,5814.42,4752.06,3274.86,3549.79,3302.35
18,Total Expenses,16412.33,14416.51,10711.00,10789.85,9640.82
19,"Profit/Loss Before Exceptional, ExtraOrdinary ...",4678.84,2127.39,2242.43,3253.00,1933.83
20,Exceptional Items,-2937.79,-1820.53,-89.56,0.00,-1214.38
21,Profit/Loss Before Tax,1741.05,306.86,2152.87,3253.00,719.45
22,Tax Expenses-Continued Operations,NaN,NaN,NaN,NaN,NaN
23,Current Tax,752.77,-553.58,244.91,386.46,1.55
24,Less: MAT Credit Entitlement,0.00,0.00,0.00,0.00,0.00
25,Deferred Tax,-702.44,960.43,-231.74,-344.60,-98.70
26,Tax For Earlier Years,0.00,0.00,0.00,0.00,0.00
27,Total Tax Expenses,50.33,406.85,13.17,41.86,-97.15
28,Profit/Loss After Tax And Before ExtraOrdinary...,1690.72,-99.99,2139.70,3211.14,816.60
29,Profit/Loss From Continuing Operations,1690.72,-99.99,2139.70,3211.14,816.60
30,Profit/Loss For The Period,1690.72,-99.99,2139.70,3211.14,816.60
31,OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN
32,EARNINGS PER SHARE,NaN,NaN,NaN,NaN,NaN
33,Basic EPS (Rs.),7.00,-0.40,8.92,13.40,3.40
34,Diluted EPS (Rs.),7.00,-0.40,8.92,13.40,3.40
35,VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIAL...,NaN,NaN,NaN,NaN,NaN
36,Imported Raw Materials,0.00,0.00,0.00,0.00,0.00
37,Indigenous Raw Materials,0.00,0.00,0.00,0.00,0.00
38,"STORES, SPARES AND LOOSE TOOLS",NaN,NaN,NaN,NaN,NaN
39,Imported Stores And Spares,0.00,0.00,0.00,0.00,0.00
40,Indigenous Stores And Spares,0.00,0.00,0.00,0.00,0.00
41,DIVIDEND AND DIVIDEND PERCENTAGE,NaN,NaN,NaN,NaN,NaN
42,Equity Share Dividend,2519.30,2158.91,1559.06,1378.96,479.16
43,Tax On Dividend,0.00,0.00,0.00,192.89,0.56
44,Equity Dividend Rate (%),1150.00,1000.00,750.00,400.00,275.00

In [13]:
# Complete Quarterly results
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_quarters = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('cipla')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_quarterly_results(mc_profile_link, statement_type='standalone', num_quarters=5)

https://www.moneycontrol.com/india/stockpricequote/pharmaceuticals/cipla/C

,Quarterly Results of Cipla (in Rs. Cr.),Jun '23,Mar '23,Dec '22,Sep '22,Jun '22
1,Net Sales/Income from operations,3857.73,3485.68,3541.16,3746.06,3069.83
2,Other Operating Income,460.46,408.06,358.29,405.21,87.30
3,Total Income From Operations,4318.19,3893.74,3899.45,4151.27,3157.13
4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN
5,Consumption of Raw Materials,887.06,757.67,753.93,997.51,730.18
6,Purchase of Traded Goods,701.05,451.92,552.08,535.62,453.77
7,Increase/Decrease in Stocks,-133.79,203.19,52.74,-11.79,-38.88
8,Power & Fuel,--,--,--,--,--
9,Employees Cost,661.83,595.33,591.25,599.14,484.77
10,depreciat,135.95,161.58,129.96,176.01,107.46
11,Excise Duty,--,--,--,--,--
12,Admin. And Selling Expenses,--,--,--,--,--
13,R & D Expenses,--,--,--,--,--
14,Provisions And Contingencies,--,--,--,--,--
15,Exp. Capitalised,--,--,--,--,--
16,Other Expenses,997.35,1085.85,1011.34,969.74,669.91
17,"P/L Before Other Inc. , Int., Excpt. Items & Tax",1068.74,638.20,808.15,885.04,749.92
18,Other Income,157.98,119.71,127.12,92.28,117.68
19,"P/L Before Int., Excpt. Items & Tax",1226.72,757.91,935.27,977.32,867.60
20,Interest,0.31,10.46,6.85,7.50,2.21
21,P/L Before Exceptional Items & Tax,1226.41,747.45,928.42,969.82,865.39
22,Exceptional Items,--,-185.90,--,--,--
23,P/L Before Tax,1226.41,561.55,928.42,969.82,865.39
24,Tax,331.39,206.06,249.90,264.63,221.39
25,P/L After Tax from Ordinary Activities,895.02,355.49,678.52,705.19,644.00
26,Prior Year Adjustments,--,--,--,--,--
27,Extra Ordinary Items,--,--,--,15.11,115.16
28,Net Profit/(Loss) For the Period,895.02,355.49,678.52,720.30,759.16
29,Equity Share Capital,161.45,161.43,161.43,161.40,161.38
30,Reserves Excluding Revaluation Reserves,--,--,--,--,--
31,Equity Dividend Rate (%),--,--,--,--,--
32,EPS Before Extra Ordinary,NaN,NaN,NaN,NaN,NaN
33,Basic EPS,11.09,4.40,8.41,8.74,7.98
34,Diluted EPS,11.08,4.40,8.40,8.73,7.97
35,EPS After Extra Ordinary,NaN,NaN,NaN,NaN,NaN
36,Basic EPS.,11.09,4.40,8.41,0.19,7.98
37,Diluted EPS.,11.08,4.40,8.40,0.19,7.97
38,Public Share Holding,NaN,NaN,NaN,NaN,NaN
39,No Of Shares (Crores),--,--,--,--,--
40,Share Holding (%),--,--,--,--,--
41,Promoters and Promoter Group Shareholding,NaN,NaN,NaN,NaN,NaN
42,a) Pledged/Encumbered,NaN,NaN,NaN,NaN,NaN
43,- Number of shares (Crores),--,--,--,--,--
44,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
45,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--
46,b) Non-encumbered,NaN,NaN,NaN,NaN,NaN
47,- Number of shares (Crores).,--,--,--,--,--
48,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
49,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--

In [14]:
# Complete half-yearly results
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_half_years = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('ashok leyland')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_half_yearly_results(mc_profile_link, statement_type='standalone', num_half_years=5)

https://www.moneycontrol.com/india/stockpricequote/autolcvshcvs/ashokleyland/AL

,Half Yearly Results of Ashok Leyland (in Rs. Cr.),Mar '23,Sep '22,Mar '22,Sep '21,Mar '21
1,Net Sales/Income from operations,20655.34,15488.80,14206.97,7408.84,11785.55
2,Other Operating Income,--,--,72.48,--,28.45
3,Total Income From Operations,20655.34,15488.80,14279.45,7408.84,11814.00
4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN
5,Consumption of Raw Materials,15283.56,11963.39,10587.22,5325.94,8871.57
6,Purchase of Traded Goods,627.89,532.80,515.19,381.71,472.32
7,Increase/Decrease in Stocks,-236.93,-321.56,52.87,-101.86,-378.09
8,Power & Fuel,--,--,--,--,--
9,Employees Cost,1141.40,972.46,869.99,824.61,856.08
10,Depreciation,372.77,359.19,385.00,367.76,412.88
11,Excise Duty,--,--,--,--,--
12,Admin. And Selling Expenses,--,--,--,--,--
13,R & D Expenses,--,--,--,--,--
14,Provisions And Contingencies,--,--,--,--,--
15,Exp. Capitalised,--,--,--,--,--
16,Other Expenses,1766.34,1484.09,1254.25,983.85,1204.17
17,P/L Before Other,1700.31,498.43,614.93,-373.17,375.07
18,Other Income,70.51,45.63,41.80,34.33,72.01
19,P/L Before Int.,1770.82,544.06,656.73,-338.84,447.08
20,Interest,143.16,145.93,143.29,157.82,142.71
21,P/L Before Exceptional Items & Tax,1627.66,398.13,513.44,-496.66,304.37
22,Exceptional Items,63.37,21.24,512.28,-1.45,-8.68
23,P/L Before Tax,1691.03,419.37,1025.72,-498.11,295.69
24,Tax,578.28,152.01,118.59,-132.81,73.90
25,P/L After Tax from Ordinary Activities,1112.75,267.36,907.13,-365.30,221.79
26,Prior Year Adjustments,--,--,--,--,--
27,Extra Ordinary Items,--,--,--,--,--
28,Net Profit/(Loss) For the Period,1112.75,267.36,907.13,-365.30,221.79
29,Equity Share Capital,293.61,293.55,293.55,293.55,293.55
30,Reserves Excluding Revaluation Reserves,--,--,--,--,--
31,Equity Dividend Rate (%),--,--,--,--,--
32,EPS Before Extra Ordinary,NaN,NaN,NaN,NaN,NaN
33,Basic EPS,3.79,0.91,3.09,-1.24,0.76
34,Diluted EPS,--,0.91,--,-1.24,--
35,EPS After Extra Ordinary,NaN,NaN,NaN,NaN,NaN
36,Basic EPS.,3.79,0.91,3.09,-1.24,0.76
37,Diluted EPS.,--,0.91,--,-1.24,--
38,Public Share Holding,NaN,NaN,NaN,NaN,NaN
39,No Of Shares (Crores),--,--,--,--,--
40,Share Holding (%),--,--,--,--,--
41,Promoters and Promoter Group Shareholding,NaN,NaN,NaN,NaN,NaN
42,a) Pledged/Encumbered,NaN,NaN,NaN,NaN,NaN
43,- Number of shares (Crores),--,--,--,--,--
44,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
45,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--
46,b) Non-encumbered,NaN,NaN,NaN,NaN,NaN
47,- Number of shares (Crores).,--,--,--,--,--
48,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
49,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--

In [15]:
# Complete half-yearly results
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_nine_months = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('titan')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_nine_months_results(mc_profile_link, statement_type='standalone', num_nine_months=5)

https://www.moneycontrol.com/india/stockpricequote/miscellaneous/titancompany/TI01

,Nine Months Results of Titan Company (in Rs. Cr.),Dec '22,Dec '21,Dec '20,Dec '19,Dec '18
1,Net Sales/Income from operations,27071.00,19082.00,12055.00,15362.16,14254.41
2,Other Operating Income,1495.00,852.00,1412.00,218.73,143.50
3,Total Income From Operations,28566.00,19934.00,13467.00,15580.89,14397.91
4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN
5,Consumption of Raw Materials,17471.00,14084.00,8636.00,9608.34,8380.78
6,Purchase of Traded Goods,4246.00,2828.00,1594.00,2289.75,2310.92
7,Increase/Decrease in Stocks,-154.00,-1757.00,-72.00,-484.07,-104.95
8,Power & Fuel,--,--,--,--,--
9,Employees Cost,991.00,815.00,660.00,796.11,626.56
10,Depreciation,269.00,259.00,249.00,219.52,105.42
11,Excise Duty,--,--,--,--,--
12,Admin. And Selling Expenses,547.00,318.00,153.00,400.71,410.08
13,R & D Expenses,--,--,--,--,--
14,Provisions And Contingencies,--,--,--,--,--
15,Exp. Capitalised,--,--,--,--,--
16,Other Expenses,1738.00,1149.00,1590.00,1155.97,1227.88
17,"P/L Before Other Inc. , Int., Excpt. Items & Tax",3458.00,2238.00,657.00,1594.56,1441.22
18,Other Income,195.00,170.00,147.00,106.32,123.38
19,"P/L Before Int., Excpt. Items & Tax",3653.00,2408.00,804.00,1700.88,1564.60
20,Interest,166.00,141.00,136.00,111.54,32.23
21,P/L Before Exceptional Items & Tax,3487.00,2267.00,668.00,1589.34,1532.37
22,Exceptional Items,--,--,-137.00,--,--
23,P/L Before Tax,3487.00,2267.00,531.00,1589.34,1532.37
24,Tax,887.00,578.00,183.00,428.50,452.59
25,P/L After Tax from Ordinary Activities,2600.00,1689.00,348.00,1160.84,1079.78
26,Prior Year Adjustments,--,--,--,--,--
27,Extra Ordinary Items,--,--,--,--,--
28,Net Profit/(Loss) For the Period,2600.00,1689.00,348.00,1160.84,1079.78
29,Equity Share Capital,89.00,89.00,89.00,88.78,88.78
30,Reserves Excluding Revaluation Reserves,--,--,--,--,--
31,Equity Dividend Rate (%),--,--,--,--,--
32,EPS Before Extra Ordinary,NaN,NaN,NaN,NaN,NaN
33,Basic EPS,29.29,19.02,3.92,13.08,12.16
34,Diluted EPS,29.29,19.02,3.92,13.08,12.16
35,EPS After Extra Ordinary,NaN,NaN,NaN,NaN,NaN
36,Basic EPS.,29.29,19.02,3.92,13.08,12.16
37,Diluted EPS.,29.29,19.02,3.92,13.08,12.16
38,Public Share Holding,NaN,NaN,NaN,NaN,NaN
39,No Of Shares (Crores),--,--,--,--,--
40,Share Holding (%),--,--,--,--,--
41,Promoters and Promoter Group Shareholding,NaN,NaN,NaN,NaN,NaN
42,a) Pledged/Encumbered,NaN,NaN,NaN,NaN,NaN
43,- Number of shares (Crores),--,--,--,--,--
44,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
45,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--
46,b) Non-encumbered,NaN,NaN,NaN,NaN,NaN
47,- Number of shares (Crores),--,--,--,--,--
48,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
49,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--

In [16]:
# Complete Annual results
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_years = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('tata power')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_yearly_results(mc_profile_link, statement_type='standalone', num_years=5)

https://www.moneycontrol.com/india/stockpricequote/tatapower/thetatapowercompany/TPC

,Yearly Results of The Tata Power Company (in Rs. Cr.),Mar '23,Mar '22,Mar '21,Mar '20,Mar '19
1,Net Sales/Income from operations,17727.78,11107.93,6180.59,7726.39,7932.83
2,Other Operating Income,--,--,--,--,--
3,Total Income From Operations,17727.78,11107.93,6180.59,7726.39,7932.83
4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN
5,Consumption of Raw Materials,--,--,--,--,--
6,Purchase of Traded Goods,--,--,--,--,--
7,Increase/Decrease in Stocks,--,--,--,--,--
8,Power & Fuel,13418.95,7366.64,2690.68,3223.20,3625.29
9,Employees Cost,746.17,737.59,649.07,610.71,637.57
10,Depreciation,1167.47,1134.23,668.89,685.75,632.70
11,Excise Duty,--,--,--,--,--
12,Admin. And Selling Expenses,--,--,--,--,--
13,R & D Expenses,--,--,--,--,--
14,Provisions And Contingencies,--,--,--,--,--
15,Exp. Capitalised,--,--,--,--,--
16,Other Expenses,1951.28,1456.30,1023.86,970.69,1050.10
17,"P/L Before Other Inc. , Int., Excpt. Items & Tax",443.91,413.17,1148.09,2236.04,1987.17
18,Other Income,4085.39,2987.11,1248.96,582.62,516.35
19,"P/L Before Int., Excpt. Items & Tax",4529.30,3400.28,2397.05,2818.66,2503.52
20,Interest,2226.60,2188.94,1518.77,1510.38,1500.35
21,P/L Before Exceptional Items & Tax,2302.70,1211.34,878.28,1308.28,1003.17
22,Exceptional Items,1808.27,1546.46,190.33,-957.75,923.22
23,P/L Before Tax,4110.97,2757.80,1068.61,350.53,1926.39
24,Tax,843.07,-492.96,100.97,-207.82,91.97
25,P/L After Tax from Ordinary Activities,3267.90,3250.76,967.64,558.35,1834.42
26,Prior Year Adjustments,--,--,--,--,--
27,Extra Ordinary Items,--,-467.83,-46.19,-410.23,-125.84
28,Net Profit/(Loss) For the Period,3267.90,2782.93,921.45,148.12,1708.58
29,Equity Share Capital,319.56,319.56,319.56,270.50,270.50
30,Reserves Excluding Revaluation Reserves,13380.03,10560.24,16559.00,13491.47,13919.10
31,Equity Dividend Rate (%),200.00,175.00,155.00,155.00,130.00
32,EPS Before Extra Ordinary,NaN,NaN,NaN,NaN,NaN
33,Basic EPS,10.22,10.07,2.49,0.08,5.90
34,Diluted EPS,10.22,10.07,2.49,0.08,5.90
35,EPS After Extra Ordinary,NaN,NaN,NaN,NaN,NaN
36,Basic EPS.,10.22,10.07,2.49,0.08,5.90
37,Diluted EPS.,10.22,10.07,2.49,0.08,5.90
38,Public Share Holding,NaN,NaN,NaN,NaN,NaN
39,No Of Shares (Crores),--,--,--,--,--
40,Share Holding (%),--,--,--,--,--
41,Promoters and Promoter Group Shareholding,NaN,NaN,NaN,NaN,NaN
42,a) Pledged/Encumbered,NaN,NaN,NaN,NaN,NaN
43,- Number of shares (Crores),--,--,--,--,--
44,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
45,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--
46,b) Non-encumbered,NaN,NaN,NaN,NaN,NaN
47,- Number of shares (Crores).,--,--,--,--,--
48,- Per. of shares (as a % of the total sh. of p...,--,--,--,--,--
49,- Per. of shares (as a % of the total Share Ca...,--,--,--,--,--

In [17]:
# Complete Cashflow statements
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_years = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('tata consumer product')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_cashflow_statement(mc_profile_link, statement_type='standalone', num_years=5)

https://www.moneycontrol.com/india/stockpricequote/plantationsteacoffee/tataconsumerproducts/TT

,Cash Flow of TATA Consumer Products (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19
1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths
2,Net Profit/Loss Before Extraordinary Items And...,1267.37,1151.09,836.14,729.41,575.92
3,Net CashFlow From Operating Activities,1019.27,1158.32,1064.23,745.03,97.47
4,Net Cash Used In Investing Activities,-601.34,-1064.31,-332.05,-708.24,345.57
5,Net Cash Used From Financing Activities,-567.80,-411.35,-330.68,-197.98,-247.16
6,Foreign Exchange Gains / Losses,0.00,0.00,0.00,0.00,0.00
7,Adjustments On Amalgamation Merger Demerger Ot...,0.00,0.00,0.00,0.00,0.00
8,Net Inc/Dec In Cash And Cash Equivalents,-149.87,-317.34,401.50,-161.19,195.88
9,Cash And Cash Equivalents Begin of Year,327.40,644.74,243.24,404.43,208.55
10,Cash And Cash Equivalents End Of Year,177.53,327.40,644.74,243.24,404.43

In [18]:
# Complete Ratios (like PE, PB, PAT, etc. etc.)
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)
# statement_type = 'consolidated' (default) or 'standalone'
# num_years = 5 is the default value any int which is multiple of 5 (if not it will round off to nearest 5 multiples)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('mtar tech')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_ratios_data(mc_profile_link, statement_type='standalone', num_years=5)

https://www.moneycontrol.com/india/stockpricequote/aerospacedefence/mtartechnologies/MT15

,Key Financial Ratios of MTAR Technologies (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19
1,Per Share Ratios,NaN,NaN,NaN,NaN,NaN
2,Basic EPS (Rs.),33.83,19.79,17.00,11.11,13.89
3,Diluted EPS (Rs.),33.83,19.79,17.00,11.11,13.89
4,Cash EPS (Rs.),39.78,24.45,19.06,13.48,17.88
5,Book Value [ExclRevalReserve]/Share (Rs.),201.83,168.98,155.00,84.11,83.29
6,Book Value [InclRevalReserve]/Share (Rs.),201.83,168.98,155.00,84.11,83.29
7,Dividend / Share(Rs.),0.00,3.00,3.00,0.00,0.00
8,Revenue from Operations/Share (Rs.),186.40,104.69,80.12,79.89,65.10
9,PBDIT/Share (Rs.),56.46,33.55,27.44,23.29,19.83
10,PBIT/Share (Rs.),50.52,28.89,23.36,21.52,15.85
11,PBT/Share (Rs.),45.80,26.73,21.08,17.02,14.73
12,Net Profit/Share (Rs.),33.84,19.79,14.98,11.70,13.89
13,Profitability Ratios,NaN,NaN,NaN,NaN,NaN
14,PBDIT Margin (%),30.28,32.04,34.24,29.15,30.46
15,PBIT Margin (%),27.10,27.60,29.15,26.93,24.34
16,PBT Margin (%),24.57,25.53,26.31,21.29,22.62
17,Net Profit Margin (%),18.15,18.90,18.70,14.65,21.34
18,Return on Networth / Equity (%),16.76,11.71,9.66,13.91,16.68
19,Return on Capital Employed (%),21.51,15.80,14.45,24.73,18.92
20,Return on Assets (%),9.79,8.36,7.85,9.04,12.84
21,Total Debt/Equity (X),0.23,0.18,0.03,0.13,0.12
22,Asset Turnover Ratio (%),0.64,0.49,42.03,61.73,60.18
23,Liquidity Ratios,NaN,NaN,NaN,NaN,NaN
24,Current Ratio (X),2.04,2.80,4.46,1.51,1.61
25,Quick Ratio (X),0.91,1.77,3.31,0.85,1.01
26,Inventory Turnover Ratio (X),1.13,1.15,2.40,2.83,4.47
27,Dividend Payout Ratio (NP) (%),0.00,30.31,17.42,0.00,0.00
28,Dividend Payout Ratio (CP) (%),0.00,24.54,13.69,0.00,0.00
29,Earnings Retention Ratio (%),0.00,69.69,82.58,0.00,0.00
30,Cash Earnings Retention Ratio (%),0.00,75.46,86.31,0.00,0.00
31,Valuation Ratios,NaN,NaN,NaN,NaN,NaN
32,Enterprise Value (Cr.),4975.58,5406.56,2970.49,0.00,0.00
33,EV/Net Operating Revenue (X),8.68,16.79,12.05,0.00,0.00
34,EV/EBITDA (X),28.65,52.40,35.19,0.00,0.00
35,MarketCap/Net Operating Revenue (X),8.48,16.70,12.78,0.00,0.00
36,Retention Ratios (%),0.00,69.68,82.57,0.00,0.00
37,Price/BV (X),7.83,10.35,6.61,0.00,0.00
38,Price/Net Operating Revenue,8.48,16.70,12.78,0.00,0.00
39,Earnings Yield,0.02,0.01,0.01,0.00,0.00

In [19]:
# Capital Structure Statement
# Params
# company_mc_url = MoneyControl company url (you can get this from `get_ticker` function)

# you can only get last <5 timeperiod data
_, raw = mc.get_ticker('aarti ind')
mc_profile_link = raw[0].get('link_src')
print(mc_profile_link)
mc.get_complete_capital_structure_statement(mc_profile_link)

https://www.moneycontrol.com/india/stockpricequote/chemicals/aartiindustries/AI45

      Period         Instrument Authorized Capital Issued Capital  \
      FromTo Unnamed: 1_level_1           (Rs. cr)       (Rs. cr)
0   20222023       Equity Share          300.00000         181.25
1   20212022       Equity Share         1500.00000         181.25
2   20202021       Equity Share          115.07516          87.12
3   20192020       Equity Share          115.07516          87.12
4   20182019       Equity Share          115.07516          43.33
5   20172018       Equity Share          115.07516          40.65
6   20162017       Equity Share          115.07516          41.06
7   20152016       Equity Share          115.07516          41.66
8   20142015       Equity Share           62.50000          44.30
9   20132014       Equity Share           62.50000          44.30
10  20122013       Equity Share           62.50000          39.56
11  20112012       Equity Share           62.50000          39.56
12  20102011       Equity Share           62.50000          38.36
13  20092010       Equity Share           62.50000          38.36
14  20082009       Equity Share           62.50000          36.40
15  20072008       Equity Share           45.00000          36.40
16  20062007       Equity Share           45.00000          36.40
17  20052006       Equity Share           45.00000          36.40
18  20042005       Equity Share           40.00000          36.40
19  20032004       Equity Share           20.00000          12.13
20  20022003       Equity Share           20.00000          12.13
21  20012002       Equity Share           20.00000          12.13
22  20002001       Equity Share           20.00000          11.62
23  19992000       Equity Share           20.00000          11.63
24  19981999       Equity Share           20.00000          11.63
25  19941998       Equity Share            2.00000           1.08
26  19931994       Equity Share            6.00000           3.90
27  19921993       Equity Share            6.00000           3.90
28  19901992       Equity Share            6.00000           2.90

   - P A I D U P -
      Shares (nos) Face Value Capital
0        362504035          5  181.25
1        362504035          5  181.25
2        174234474          5   87.12
3        174234474          5   87.12
4         86668647          5   43.33
5         81300000          5   40.65
6         82120383          5   41.06
7         83320383          5   41.66
8         88591687          5   44.30
9         88591687          5   44.30
10        79120073          5   39.56
11        79120073          5   39.56
12        76720073          5   38.36
13        76720073          5   38.36
14        72809424          5   36.40
15        72809424          5   36.40
16        72809424          5   36.40
17        72809424          5   36.40
18        36404712         10   36.40
19        12134904         10   12.13
20        12134904         10   12.13
21        12134904         10   12.13
22        11622379         10   11.62
23        11634333         10   11.63
24        11634333         10   11.63
25         1080100         10    1.08
26         3900500         10    3.90
27         3900500         10    3.90
28         2900000         10    2.90